.picture-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
    margin-right: 5%;
    margin-left: 5%;

}

.picture-grid img {
    width: 70%;
    height: auto;
}